<form class="search-form" [formGroup]="searchForm" (ngSubmit)="search()">
  <div
    class="search-form__header"
    cdkOverlayOrigin
    #originOverlay="cdkOverlayOrigin"
  >
    <app-input
      [label]="'Name'"
      [placeholder]="'Gdansk'"
      formControlName="namePrefix"
    ></app-input>
    <div class="search-form__header--right">
      <button
        type="submit"
        class="search-form__button"
        mat-raised-button
        color="primary"
      >
        Search
      </button>
      <button mat-mini-fab color="primary" (click)="showFilters(true)">
        <mat-icon>filter_list</mat-icon>
      </button>
    </div>
  </div>

  <ng-template
    cdkConnectedOverlay
    cdkConnectedOverlayHasBackdrop
    cdkScrollable
    [cdkConnectedOverlayOrigin]="originOverlay"
    [cdkConnectedOverlayOpen]="show$ | async"
    [cdkConnectedOverlayPositions]="positions"
  >
    <section class="search-from__panel">
      <app-input
        [label]="'Location'"
        [placeholder]="'±DD.DDDD±DDD.DDDD'"
        formControlName="location"
      ></app-input>

      <app-chips
        [label]="'Country ids'"
        [placeholder]="'Country id'"
        formControlName="countryIdsArray"
      ></app-chips>

      <app-chips
        [label]="'Excluded country ids'"
        [placeholder]="'Country id'"
        formControlName="excludedCountryIds"
      ></app-chips>

      <app-input
        [label]="'Min population'"
        [placeholder]="'100'"
        formControlName="minPopulation"
      ></app-input>

      <app-select
        [label]="'Sort by'"
        [data]="formService.sortData"
        [bindBy]="'code'"
        [bindLabel]="'text'"
        formControlName="sort"
      ></app-select>

      <app-select
        [label]="'Timezone'"
        [data]="formService.timezoneData"
        [bindBy]="'code'"
        [bindLabel]="'text'"
        formControlName="timezone"
      ></app-select>

      <app-select
        [label]="'Limit'"
        [data]="formService.limitData"
        [bindBy]="'code'"
        [bindLabel]="'text'"
        formControlName="limit"
      ></app-select>
      <div class="search-form__panel--buttons">
        <button mat-mini-fab color="primary" (click)="cleanForm()">
          <mat-icon>restore</mat-icon>
        </button>
        <button mat-mini-fab color="primary" (click)="showFilters(false)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </section>
  </ng-template>
</form>
