.aside {
  background-color: #393939;
  height: 100vh;
  overflow: scroll;
  max-width: 700px;
}

.aside__header {
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
}

.aside__content {
  padding: 24px;
}

.aside__content__header {
  margin-bottom: 24px;
}

.aside__content--details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1 fr);
  row-gap: 25px;
  margin-bottom: 54px;
}
