/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

.mat-typography {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.mat-typography p {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 50px 1fr 50px;
  row-gap: 8px;
  height: 100vh;
}

app-header {
  grid-column: 1/-1;
  background-color: #ff6b6b;
}

app-nav {
  grid-row: 2 / 3;
}

app-main {
  grid-row: 2 / 3;
}

app-footer {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  background-color: #ff6b6b;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
