/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #303030;
  font-family: "Roboto", sans-serif;
  color: #dee2e6;
}

.mat-typography {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.mat-typography p {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: auto 1fr auto;
  row-gap: 16px;
  height: 100vh;

  grid-template-areas:
    "header header"
    "nav content"
    "footer footer";
}



app-header {
  position: sticky;
  top: 0;
  z-index: 2;
  grid-area: header;
  background-color: #e91e63;
}

app-nav {
  grid-area: nav;
}

app-main {
  grid-area: content;
}

app-footer {
  grid-area: footer;
  background-color: #e91e63;
}

mat-icon {
  color: #e9ecef;
}
